---
import { getOrganizationStats } from '~/services/github';
import Headline from '../blog/Headline.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';

const orgData = await getOrganizationStats('Block-core');
const { publicRepos, followers, totalStars, totalForks } = orgData || {};
const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
 
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="flex flex-wrap justify-center -m-4 text-center">
    { orgData ? (
      <>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full min-w-[220px] text-center">
          <div class="font-heading text-primary text-[2.6rem] font-bold dark:text-white lg:text-5xl xl:text-6xl">
            {publicRepos}
          </div>
          <div class="text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base">
            Public Repos
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full min-w-[220px] text-center">
          <div class="font-heading text-primary text-[2.6rem] font-bold dark:text-white lg:text-5xl xl:text-6xl">
            {followers}
          </div>
          <div class="text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base">
            Followers
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full min-w-[220px] text-center">
          <div class="font-heading text-primary text-[2.6rem] font-bold dark:text-white lg:text-5xl xl:text-6xl">
            {totalStars}
          </div>
          <div class="text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base">
            Total Stars
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full min-w-[220px] text-center">
          <div class="font-heading text-primary text-[2.6rem] font-bold dark:text-white lg:text-5xl xl:text-6xl">
            {totalForks}
          </div>
          <div class="text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base">
            Total Forks
          </div>
        </div>
      </>
    ) : (
      <p>Loading organization data...</p>
    )}
  </div>
</WidgetWrapper>
